# JetBrains
.idea

# Gradle
.gradle
build
out

# Env
config.properties

# My stuff
*.nogit.*

# Eclipse
/.project
/.classpath

# RSA private keys
.travisci/private_rsa_keys.tar.gz

# Built email HTML
src/main/resources/email
