# JetBrains
.idea

# Gradle
.gradle
build
out
/bin/

# Env
config.properties

# My stuff
*.nogit.*
*.log

# Eclipse
/.project
/.classpath

# RSA private keys
.travisci/private_rsa_keys.tar.gz

# Email related
email/node_modules
src/main/resources/email/html

