<configuration debug="false">
    <!--STDOUT-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <!-- use a simple pattern to prevent startup delays due to parsing -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--Root logger-->
    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
